@import "tailwindcss" prefix(tw);

/* Dark mode */
 :root, .dark {
  --background: #18202e;
  --text-color: #a1b2c8;
  --button-bg: #555555;
  --button-text: #ffffff;
  --div-color: #1e2738;
  --sub-title-color: #ffffff;
}

/* Default light mode */
.light {
  --background: #f4f7fa;
  --text-color: #404b67;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --div-color: #ffffff;
  --sub-title-color: #000000;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  transition: all 0.3s ease;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.div-bg {
  background-color: var(--div-color);
}

.div-subtitle {
  color: var(--sub-title-color);
}